/*default*/
$text-color: rgba(255, 255, 255, 0.87);
$primary-color: #646cff;
$hover-color: lightgreen;
$bg-color: #242424;
$border-radius: 8px;


/*buttons*/
$btn-bg-color: #1a1a1a;

/*light mode*/
$light-text-color: #213547;
$light-bg-color: #ffffff;
$light-hover-color: #747bff;
$light-btn-bg-color: #f9f9f9;