@import './variables';

.modal {
  display: flex;
  flex-direction: column;
  color: $text-color;
  width: 560px;
  border: 1px solid $text-color;
  padding: 20px;
  margin-bottom: 20px;

  h1 {
  font-size: 24px;
  margin: 0px;
}

  img {
    height: 16px;
    padding: 0;
  }
}
